<h1><%= @course.name %></h1>


<ul>
  <li><%= @course.price %></li>
  <li><%= @course.intro %></li>
  <li><%= @course.hour %></li>
</ul>

<%= link_to "Back Courses list", courses_path(@course) %>
<!-- 首頁的prefix是複數(courses) -->